[Unit]
Description=META-Clock dynamic dns
After=network.target

[Service]
EnvironmentFile=/home/metaclock/metaclock/.env
ExecStart=/home/metaclock/metaclock/dyndns.sh
Type=oneshot
