[Unit]
Description=metaclock browser
After=metaclock-httpserver.service

[Service]
ExecStart=/home/metaclock/metaclock/start-browser.sh
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
