[Unit]
Description=metaclock browser
After=metaclock-httpserver.service

[Service]
ExecStart=/usr/bin/chromium-browser --start-maximized --kiosk http://localhost:3000/
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
